@media (min-width: 576px)
{
    .col-sm
    {
        flex: .2;
    }
}
a.navbar-brand{
    margin-left: 16px;
}

body {
    background-color: #f8f9fa;
}
.login-form {
    width: 350px;
    margin: 0 auto;
    margin-top: 100px;
}

nav.navbar.navbar-expand-lg {
    background-color: #98999a !important;
}